DATABASE_URL=postgresql://user:pass@host.neon.tech/db?sslmode=require
AUTH_URL=http://localhost:8080
PORT=8081
S3_BUCKET=demo-cloud-763749302763-eu-west-3-an
AWS_ACCESS_KEY_ID=...
AWS_SECRET_ACCESS_KEY=...
AWS_DEFAULT_REGION=eu-west-3
